<!DOCTYPE html>
<html>
<head>
    <title>Day 16 | Edit Project</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style-form.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style-project.css">
</head>

<body>
    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg position-fixed z-2" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="assets/#">
                <img src="/assets/img/logo.png" alt="Bootstrap" width="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-project">Add Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Me</a>
                    </li>
                    

                </ul>
                
                <!-- Buat login dan register -->
                <div class="ms-auto">
                    <ul class="navbar-nav">
                        
                        {{if .User}}
                            <li class="nav-item dropdown profile-settings">
                                <span class="profile-picture">
                                    <img src="/assets/img/profile.webp" class="rounded-circle" alt="profile" width="30px">
                                </span>
                                <a class="nav-link dropdown-toggle ps-3 pe-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="profile-name">
                                        {{.User}}
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                <li><form action="/profile" method="get"><button class="dropdown-item" href="/profile/">My Profile</button></form></li>
                                <li><form action="/logout" method="post"><button class="dropdown-item" href="/logout">Logout</button></form></li>
                                </ul>
                            </li>
                        {{else}}
                            <li class="nav-item login">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item register">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                        {{end}}
                    </ul>
                    
                </div>

                 

                
            </div>
        </div>
        </nav>

    <!-- Form -->
    <div class="form-container container-fluid">
        

        <div class="form ms-auto me-auto mt-5">
            <div class="form-header position-relative">
                <div class="circles-header d-flex flex-row-reverse">
                    <div class="rounded-circle bg-danger ms-1" style="height: 12px; width: 12px;"></div>
                    <div class="rounded-circle bg-warning ms-1" style="height: 12px; width: 12px;"></div>
                    <div class="rounded-circle bg-success ms-1" style="height: 12px; width: 12px;"></div>
                </div>
            </div>
            <div class="form-body ">
                <h3 class="fw-bolder">
                    Edit Project
                </h3>
                <form action="/edit-project/{{.Id}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="id" value="{{.Id}}">
                    <div class="form-item mb-3">
                        <label for="name" class="form-label glacial-indifference">Project Name : </label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Your Project Name..." value="{{.Project.NameProject}}" required>
                    </div>
                    <div class="form-item mb-3 date-container">
                        <div class="row">
                            <div class="col">
                                <label for="name" class="form-label glacial-indifference">Start Date :</label>
                                <input type="date" id="start-date" name="start-date" class="form-control" value="{{.StartDate}}" required>
                            
                            </div>
                            <div class="col">
                                <label for="name" class="form-label glacial-indifference">End Date :</label>
                                <input type="date" id="end-date" name="end-date" class="form-control" value="{{.EndDate}}" required>
                            
                            </div>
                        </div>
                        <div id="dateHelp" class="form-text text-danger">
                            <!-- The end date cannot precede the start date -->
                            {{if .DateError}}
                                {{.DateError}}
                            {{end}}
                        </div>
                    </div>
                    
                    <div class="form-item mb-3">
                        <label for="description" class="form-label glacial-indifference">Description :</label>
                        <textarea name="description" id="description" class="form-control" rows="10" placeholder="Write Something..." required> {{.Project.Description}} </textarea>
                    </div>
                    
                    <div class="form-item-mb-5">
                        <label for="tech" class="form-label glacial-indifference mb-2">Technologies :</label>
                        <!-- Checkbox -->
                        
                        <div class="row mb-1">
                            <div class="col">
                                <input class="form-check-input" name="node-js" type="checkbox" value="checked" id="node-js" {{if .Project.NodeJs}} checked="true" {{end}}>
                                <label class="form-check-label" for="node-js">
                                    Node JS 
                                </label>
                            </div>
                            <div class="col">
                                <input class="form-check-input" name="java" type="checkbox" value="checked" id="java" {{if .Project.Java}} checked="true" {{end}}>
                                <label class="form-check-label" for="java">
                                    Java
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col ">
                                <input class="form-check-input" name="react-js" type="checkbox" value="checked" id="react-js" {{if .Project.ReactJs}} checked="true" {{end}}>
                                <label class="form-check-label" for="react-js">
                                    React JS
                                </label>
                            </div>
                            <div class="col">
                                <input class="form-check-input" name="go" type="checkbox" value="checked" id="go" {{if .Project.Golang}} checked="true" {{end}}>
                                <label class="form-check-label" for="go">
                                    Go
                                </label>
                            </div>
                        </div>

                        <div class="form-text text-danger" id="techHelp">
                            <!-- You must choose at least one technology -->
                            {{if .TechError}}
                                {{.TechError}}
                            {{end}}
                        </div>
                    </div>

                    <!-- Upload Image -->
                    <div class="form-item mb-3 mt-2">
                        <label for="image" class="form-label glacial-indifference">Image :</label>
                        <input type="file" name="image" id="image" class="form-control form-upload" value="{{.Project.Image}}" data-bs-theme="dark" required>
                        
                    </div>
                    
                    <button type="submit" class="btn">Submit</button>


                </form>
                  
            </div>

            
        </div>

        
    </div>
    

    <script src="/assets/js/project.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>